* { margin: 0; padding: 0; box-sizing: border-box;}
body { font: 17px Garamond, Garamond;}
form { 
    background: #61892f; 
    padding: 3px; 
    position: fixed; 
    bottom: 0; 
    width: 75vw; 
    height: 10vh;
    display: flex;}
form input { 
    border-style: solid;
    border-color: #86c232;
    padding: 10px; 
    width: 75vw; 
    margin-right: .5%; 
    outline: none; 
    background: rgb(255, 255, 255);}
form button { width: 19.5%; background: #61892f; border: none; padding: 5px; outline: none; font: 20px Garamond}
#messages { list-style-type: none; margin: 0; padding: 0; overflow: auto}
#messages li { padding: 5px 10px; color: #86c232}
#messages li:nth-child(odd) { background: #474b4f; }
.chatbox {
    float: left;
    width: 75vw;
    height: 90vh;
    background-image: url('');
    background-size: cover;
    background-color: #222629;
    position: relative;
    display:flex;
    flex-direction:column;
    justify-content: flex-end;
    overflow: none;
}
.usernames {
    float: right;
    width: 25vw;
    background-image: url('../img/circles.png');
    background-color: #474b4f;
    padding: 5px;
    height: 100vh;
    display:flex;
    flex-direction:column;
    color: #86c232;
    border-style: solid;
    border-color: #222629;
    border-bottom: none;
    
}

#names{
    list-style-type: none; margin: 0; padding: 0;
}
#names li {
    padding: 5px 5px;
    text-align: center;
}

p{
    font-size: 30px;
    text-decoration: underline;
    text-align: center;
}